{% extends 'base.html' %}
{% load static %}
{% block title %}خانه {% endblock %}
        
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../../static/blog/assets/img/home-bg.jpg');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>وحید زارع</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3 class="alert alert-primary text-center">دسته بندی : {{category.title}}</h3>
                    {% for article in articles %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' article.slug %}">
                            <h2 class="post-title">{{article.title}}</h2>
                            <h3 class="post-subtitle">{{article.description|truncatewords:30}}</h3>
                        </a>
                        <p class="post-meta">
                            ارسال شده توسط
                            <a href="#!">وحید زارع</a>
                            در {{article.jpublish}}
                        </p>
                        <div>
                            {% for cat in article.category_published.all %}
                                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Divider-->
                    {% empty %}
                        <div class="post-preview">
                            <p class="post-meta">
                                در حال حاضر پستی وجود ندارد
                            </p>
                        </div>
                    
                    
                    {% endfor %}
                    <!-- Pager-->
                    {% if articles %}
                        {% if articles.has_next %}
                        <div class="d-flex justify-content-end mb-4 pager-botton"><a class="btn btn-primary text-uppercase" href="{% url 'blog:category' category.slug articles.next_page_number %}">پست های قدیمی &larr;</a></div>
                        {% endif %}
                        {% if articles.has_previous %}
                        <div class="d-flex justify-content-end mb-4 pager-botton" style="margin-left: 5px;"><a class="btn btn-primary text-uppercase" href="{% url 'blog:category' category.slug articles.previous_page_number %}">پست های جدید &rarr;</a></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
       
{% endblock %}
