{% extends "base.html" %}
{% load static %}

{% block title %}{{article.slug}}{% endblock %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{article.thumbnail.url}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{article.title}}</h1>
                            <time>{{article.jpublish}}</time>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        {% if article %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7"  style="text-align: justify; line-height: 35px;">
                        <p>{{article.description|linebreaks}}</p>
                        <span class="meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                        </span>

                    </div>
                </div>
            </div>
        </article>
        {% endif %}
{% endblock %}
